/*slide*/
.slide {
    width: 100%;
    height: 1024px; /* 画像の高さ */
    background-image: url('./img/top_img.jpg');
    background-repeat: repeat-x;
    background-size: auto 1024px; /* 画像の高さ */
    animation: loop 30s linear infinite;
  }
  @keyframes loop {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0; /* 画像のマイナス幅 */
    }
  }