// https: //bootstrap-guide.com/customize/sass
@import "../node_modules/bootstrap/scss/bootstrap";

@mixin gradient-x($start-color: $gray-700, $end-color: $gray-800, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
}